# Magnetic Storms

#### Spacecraft

Wind

#### Time Interval

2014.01.07

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

### Importing Data

In [2]:
magnetic = pd.read_excel('data/magnetic.xlsx') # Magnetic Field Data in nT from CDAWEB
magnetic

           DATE          TIME        B        BX        BY       BZ
0    2014-01-06  23:00:30.000  2.72799  0.524188  1.430380 -1.95577
1    2014-01-06  23:01:30.000  2.69176  1.342760  1.765980 -1.40528
2    2014-01-06  23:02:30.000  2.47247  0.928431  1.536690 -1.30666
3    2014-01-06  23:03:30.000  2.32116 -0.395015  0.914990 -1.98637
4    2014-01-06  23:04:30.000  2.32005 -0.438720  0.966205 -2.05347
...         ...           ...      ...       ...       ...      ...
1494 2014-01-07  23:54:30.000  5.96689 -3.124860  2.179500 -4.59028
1495 2014-01-07  23:55:30.000  6.04279 -3.339880  2.328630 -4.45864
1496 2014-01-07  23:56:30.000  6.24318 -3.016000  2.904570 -4.49909
1497 2014-01-07  23:57:30.000  6.13296 -3.452500  2.363870 -4.46493
1498 2014-01-07  23:58:30.000  6.09285 -3.397750  2.148320 -4.54524

[1499 rows x 6 columns]

In [3]:
solar = pd.read_excel('data/solar.xlsx') # Solar Wind Data, Velocities are in km/sec, ION_NP is in cm^3 from CDAWEB
solar

          DATE          TIME   SW_VTH    ION_NP  VX_(GSM)  VY_(GSM)  VZ_(GSM)
0   2014-01-06  23:00:14.484  30.0924   4.28709  -355.936  -6.42950  11.28900
1   2014-01-06  23:01:51.578  27.1823   3.19790  -370.943 -16.14380  -7.73532
2   2014-01-06  23:03:19.289  20.4928   2.29195  -355.613  -9.93990  -1.92920
3   2014-01-06  23:05:03.929  25.7435   3.35158  -350.633  -2.53247   8.26825
4   2014-01-06  23:06:45.492  24.9569   3.35078  -349.200   2.78117   7.61097
..         ...           ...      ...       ...       ...       ...       ...
901 2014-01-07  23:51:07.476  28.7030  15.80300  -376.187 -25.76270  20.74550
902 2014-01-07  23:52:44.398  27.2386  15.24420  -374.960 -25.74800  21.61670
903 2014-01-07  23:54:25.992  25.9254  14.51100  -375.685 -24.75410  28.09750
904 2014-01-07  23:55:59.859  29.4644  15.17230  -376.874 -24.66310  29.75250
905 2014-01-07  23:57:39.882  26.3744  14.07370  -375.958 -23.85220  30.71750

[906 rows x 7 columns]

In [4]:
dst = pd.read_excel('data/dst.xlsx')
dst

         DATE          TIME  DOY  DST
0  2014-01-07  00:00:00.000    7  -10
1  2014-01-07  01:00:00.000    7   -8
2  2014-01-07  02:00:00.000    7   -7
3  2014-01-07  03:00:00.000    7  -10
4  2014-01-07  04:00:00.000    7  -10
5  2014-01-07  05:00:00.000    7   -6
6  2014-01-07  06:00:00.000    7   -6
7  2014-01-07  07:00:00.000    7   -9
8  2014-01-07  08:00:00.000    7  -10
9  2014-01-07  09:00:00.000    7  -10
10 2014-01-07  10:00:00.000    7  -11
11 2014-01-07  11:00:00.000    7   -9
12 2014-01-07  12:00:00.000    7   -9
13 2014-01-07  13:00:00.000    7  -12
14 2014-01-07  14:00:00.000    7  -10
15 2014-01-07  15:00:00.000    7   -2
16 2014-01-07  16:00:00.000    7   -2
17 2014-01-07  17:00:00.000    7   -8
18 2014-01-07  18:00:00.000    7   -9
19 2014-01-07  19:00:00.000    7   -3
20 2014-01-07  20:00:00.000    7   -1
21 2014-01-07  21:00:00.000    7    0
22 2014-01-07  22:00:00.000    7    4
23 2014-01-07  23:00:00.000    7    2

In [5]:
ae = pd.read_excel('data/ae.xlsx')
ae

           DATE          TIME  DOY   AE   AU   AL  AO
0    2014-01-07  00:00:00.000    7   24   16   -8        4
1    2014-01-07  00:01:00.000    7   26   17   -9        4
2    2014-01-07  00:02:00.000    7   29   19  -10        5
3    2014-01-07  00:03:00.000    7   29   19  -10        5
4    2014-01-07  00:04:00.000    7   26   16  -10        3
...         ...           ...  ...  ...  ...  ...      ...
1435 2014-01-07  23:55:00.000    7  312  138 -174      -18
1436 2014-01-07  23:56:00.000    7  305  134 -171      -19
1437 2014-01-07  23:57:00.000    7  304  132 -172      -20
1438 2014-01-07  23:58:00.000    7  304  135 -169      -17
1439 2014-01-07  23:59:00.000    7  288  129 -159      -15

[1440 rows x 7 columns]

In [6]:
kp = pd.read_excel('data/kp.xlsx')
kp

        DATE          TIME    KP
0 2014-01-07  03:00:00.000  0.33
1 2014-01-07  06:00:00.000  1.67
2 2014-01-07  09:00:00.000  0.00
3 2014-01-07  12:00:00.000  0.67
4 2014-01-07  15:00:00.000  0.67
5 2014-01-07  18:00:00.000  3.33
6 2014-01-07  21:00:00.000  2.33
7 2014-01-07  24:00:00.000  2.67